#winner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(transparent, transparent, rgba(255,140,0,.3), rgba(255,160,0,.9));
  pointer-events: none;
  opacity: 0;
  --pos-i: -1;
  --pos-u: -1;
  i { --pos-i: calc(var(--pos-u) + 4); --pos: var(--pos-i) }
  u { --pos-u: calc(var(--pos-i) + 4); --pos: var(--pos-u) }
  i, u, :is(i,u)::before, :is(i,u)::after {
    content: "";
    position: fixed;
    top: -2vh;
    --p: var(--pos);
    left: calc(var(--pos) * 1vw);
    display: block;
    width: 1.2em;
    height: .6em;
    border-radius: 50%;
    background: hsl(calc(var(--p)*211.5) 70% 50%);
    transition: ease-in 4s calc(mod(var(--p) * 29s, .71s) * 3);
  }
  i, u {
    animation: .8s ease-in-out infinite alternate pulse;
  }
  :is(i,u)::before, :is(i,u)::after {
    animation: .8s linear infinite rotate;
  }
  :is(i,u)::before {
    --p: calc(var(--pos) - 1);
    left: calc(var(--pos) * 1vw - 1.333vw);
  }
  :is(i,u)::after {
    --p: calc(var(--pos) + 1);
    left: calc(var(--pos) * 1vw + 1.333vw);
  }
  h2 {
    position: absolute;
    font-size: 1rem;
    line-height: .1em;
    top: calc(100vh + 3em);
    left: 50%;
    margin: 0;
    transform: translateX(-50%) rotate(90deg);
    color: transparent;
    white-space: nowrap;
    text-shadow:
      0 0 .5rem #4FF, /* Hight inner light */
      -.5rem 0 .0em #0AF,  .5rem 0 .0em #0AF, /* Sharp letter contour */
      /* Shadow */
      0 0 0 #08F, 0 0 0 #08F, 0 0 0 #08F,
      0 0 0 #08F, 0 0 0 #08F, 0 0 0 #08F;
  }
}

main{{
    for (let y=0; y < GAME_SIZE; y++) for (let x=0; x < GAME_SIZE; x++) {
  }}:has(
      p:nth-child({{=y+1}}) b:nth-child({{=x+1}}) :is(
        .bomb:not(:checked) ~ * .open :checked,
        .bomb:checked ~ * .flag :checked
      )
    )
{{ } }}
~ #winner, .win #winner {
  transition: 2s;
  pointer-events: all;
  opacity: 1;
  i, u, :is(i,u)::before, :is(i,u)::after {
    top: 101vh;
  }
  h2 {
    transition: 2s 4s, text-shadow 3s 6s;
    font-size: 10rem;
    top: 0;
    line-height: 98vh;
    transform: translateX(-50%) rotate(0deg);
    letter-spacing: 0;
    text-shadow:
      0 0 .1em #AFF, /* Hight inner light */
      -.055em 0 .0em #0AF,  .055em 0 .0em #0AF, /* Sharp letter contour */
      /* Shadow */
      -.2em  0 .3em #08F, -.2em  0 .3em #08F, 0 -.2em .3em #08F,
       .2em  0 .3em #08F,  .2em  0 .3em #08F, 0  .2em .3em #08F;
  }
}

@keyframes pulse {
  from { height: .5em }
  to   { height: 1em  }
}

@keyframes rotate {
  from { transform: rotate(0deg)   }
  to   { transform: rotate(360deg) }
}
